<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="formation_type" default="2"/>
  
  <include file="$(find mockamap)/launch/mockamap.launch"/>
  
  <include file="$(find ego_planner)/launch/advanced_param_auto_formation_switch.xml">
    <arg name="formation_type" value="$(arg formation_type)" />
  </include>
  
</launch> 